<!DOCTYPE html>

<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/sample.css" />
</head>

<body>
    <p>

        <br> &nbsp;&nbsp; A
        <br> &nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;\
        <br>B &nbsp;&nbsp;&nbsp;&nbsp; C
        <br> &nbsp;/\ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/|\
        <br>DE &nbsp;&nbsp;F&nbsp;G&nbsp;H
        <br> Buatlah program pencarian dari pohon alphabet (soal 2), hasil nya adalah anak dari parent yang di cari.
        <br> Contoh :
        <br> Input : A-C
        <br> Output : F-G-H
        <br>
        <br> Input : A-B-D
        <br> Output : Tidak ada Child
    </p>
    <p>
        <form method="post" action="/post-fifth">
            Insert the parent that would you want !
            <br>
            <input maxlength="3" type="text" name="value" style="text-transform:uppercase" onkeypress="return /[a-z]/i.test(event.key)">
            <input type="submit" value="Proccess">
        </form>
        <p style="color:red;">{{.err}}</p>
    </p>
    <p>
        Your input :{{.input}}<br> The children : {{.res}}</p>
    <p> <a href="/">Home</a></p>

</body>

</html>