<!DOCTYPE html>

<head>
    <title>{{.title}}</title>
</head>

<body>
    <h3>
        List Menu Soal
    </h3>
    <ol>
        <li>
            <a href="/first">Potong donut</a>
        </li>
        <li>
            <a href="/second">Sloane’s OEIS</a>
        </li>
        <li>
            <a href="/third">Tree</a>
        </li>
        <li>
            <a href="/forth">Finding On Tree</a>
        </li>
        <li>
            <a href="/fifth">Check the child</a>
        </li>
    </ol>
</body>

</html>