<!DOCTYPE html>

<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/sample.css" />
</head>

<body>
    <p>

        Ada pohon alphabet seperti berikut :
        <br> &nbsp;&nbsp; A
        <br> &nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;\
        <br>B &nbsp;&nbsp;&nbsp;&nbsp; C
        <br> &nbsp;/\ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/|\
        <br>DE &nbsp;&nbsp;F&nbsp;G&nbsp;H
        <br> Buatlah program untuk menampilkan pohon alphabet diatas dengan menggunakan <strong>REKURSIF</strong>,
        <br> hasil yang diharapkan seperti berikut :
        <code>
        <br>
        /**
        <br>
        * A
        <br>
        * -B
        <br>
        * --D
        <br>
        * --E
        <br>
        * -C
        <br>
        * --F
        <br>
        * --G
        <br>
        * --H
        <br>
        **/
    </code>
        <p>
            <strong>Please check terminal for this section ^_^</strong>
        </p>
    </p>
    <p> <a href="/">Home</a></p>

</body>

</html>